@import "../variables.scss";
form {
  width: 60%;
  height: 100%;
  padding: 80px;
  margin: 20px auto;
  .form-title {
    color: white;
    margin-bottom: 20px;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    label {
      color: white;
      padding: 10px 0;
    }
    input {
      height: 40px;
      color: black;
      border-radius: 8px;
      outline: none;
      border: none;

      font-size: 18px;
      padding: 5px;
    }
  }
  button {
    margin-top: 40px;
    height: 40px;
    width: 150px;
    background-color: #e95136;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.3s ease-in-out;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: #c24c37;
    }
  }
}
