@import "../variables.scss";

.card {
  background-color: $black;
  width: 350px;
  height: 100%;
  border-radius: 10px;
  margin: 20px 20px;

  .card-wrapper {
    height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-header {
      border-bottom: 2px solid #e95136;
      margin-bottom: 10px;
      h3 {
        color: #ebebeb;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
    }
    .card-body {
      margin-bottom: 0px;
      padding: 10px 0;
      p {
        color: #ebebeb;
      }
    }
    .info {
      p {
        font-size: 11px;
        color: #b3b3b3;
      }
    }
  }
}
