@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "./components/navbar.scss";
@import "./components//dashboard.scss";
@import "./components/signUp.scss";
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f3dfa2;
}

.container {
  width: 100%;
  max-width: 1560px;
  margin: 0 auto;
  height: 100%;
}
